:root{
    --color-font-body: rgb(255, 0, 0);
    --img-background: url('../img/Usagimygoat.jpg');
    --color-background: rgb(237, 242, 142);
}

#intro{--pos-top: 120px; --pos-left: 200px;}
#portfolio{--pos-top: 40px; --pos-left: 840px;}
#schedule{--pos-top: 10px; --pos-left: 240px;}
#Assignments{--pos-top: 200px; --pos-left: 240px;}

h2{
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
}

h2+p:hover{
    visibility: hidden;
} 

header abbr{
    position: relative;
    top: 10px;
    font-size: 0.5em;
}

p {
    position: absolute;
    top: var(--pos-top);
    left: var(--pos-left);
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    text-align: center;
    opacity: 100;
    transition: all 3s;
} 

p h2::first-letter{
    font-size: 3em;
}

li{
    color: var(--color-font-body);
    font-weight: 250;
}

a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-font-body);
}

a:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

header{
    position: relative;
    width: 100px;
    height: 25vh;
    overflow: scroll;
    padding: 5px 10px 20px 5px;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 25px 25px 35px black;
    transition: all 3s;

}

footer{
    background-color: var(--color-background);
    border: 2em;
    
}

body{
    background-image: var(--img-background);
}